.bank-container {
    display: flex;
}

.bank-wrapper {
    flex: 6;
    flex-direction: column;
    margin: 20px;
}

.bank-container .heading {
    font-weight: bold;
    font-size: 1.5rem;
}

.bank-details {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.item {
    margin-bottom: 20px;
    font-weight: bold;
}

.value {
    margin-bottom: 20px;
}

.not-found {
    background-color: yellow;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
}